.task{
    margin: 10px auto;
    width: 80%;
    min-height: 35px;
    border: 1px solid white;
    box-shadow: 3px 4px 10px ;
}

.task__title{
    color: white;
    font-style: italic;
    font-size: 20px;
    word-wrap: break-word;
}