.task{
    margin: 0 auto;
    width: 80%;
    height: 35px;
    border: 1px solid white;
    box-shadow: 3px 4px 10px ;
}

.task__title{
    color: white;
    font-style: italic;
    font-size: 20px;
}